*{
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;

}

body {
  background-image: url('http://i.imgur.com/WFoXufF.jpg');
}

#title{
  font-family: 'Pacifico', cursive;
  background:rgba(255,255,255,0.5);
  color: #000000;
  margin-top: 100px;
  text-align: center;
}

#form{
  background-color: #8BA4CF;
  margin-top: 5px;
  border: 1px solid;
}

#labels{
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  background-color: #F7CAC9;
  font-size: 16px;
}

.btn:hover{
  background-color: #F7CAC9;
  font-size: 18px;
}


#form div{
  height: 50px;
}

#form .row div {
  text-align: center;
  border: 1px solid;
  padding-top: 8px;
}

#form .row span {
 padding-top: 10px;
}

input{
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid;
}

#body{
  margin-bottom: 50px;
}

.thin {
  border: 1px solid;
}

input[type=url] {
  height:100px;
}

#body .item {
  background-color: #FFFFFF;
}

#form input {
  background-color: #FFFFFF;
}

#body .item:nth-child(odd) {
    background-color: #f7cac9;
}


.hide {
  display: none;
}

.editing{
  background-color: #FFFFFF;
}
.editing span{
  background-color: #FFFFFF;
}

.strike {
  text-decoration: line-through;
}
#body .item.selected {
  background-color: #F7CAC9;
}

.check, .edit, .remove{
  text-align: right;
}
