

body {
  background-image: url('http://i.imgur.com/WFoXufF.jpg');
}

.nav-wrapper{
  background-color: #FFFFFF;
}

nav .brand-logo.center {
    color: #FD74AC;
    font-family: 'Pacifico', cursive;


}

.container {
  background-color: #FFFFFF;
  padding: 40px;
  background:rgba(255,255,255,0.9);

}

#labels{
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

#list {
  margin-bottom: 50px;
}

#list .item {
  background-color: #FFFFFF;
}

#form input {
  background-color: #FFFFFF;
}
